{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<img src="imagens/fundo_Galaxia.png" id="fundo-hero">

<div class="content" >

  <div id="frase-hero">
    <h1 id="titulo">Experiência que forma, código que transforma!</h1>
    <p id="subtitulo">Transformamos ideias em soluções reais. Uma equipe de estudantes comprometidos com excelência, transparência e inovação.</p>
    <div id="botao-hero">
      <p>Clique aqui</p>
      <span class="material-symbols-outlined" id="flecha-hero">arrow_outward</span>
    </div>
  </div>


  <div id="img-hero" >
    <div id="blur-background"></div>
    <img src="imagens/computer.svg" id="computer-hero">
    <div id="blur-shadow"></div>
    <div id="blur-aura"></div>
    <img src="imagens/logo-main-neon.svg" id="main-logo-aura">
    <img src="imagens/coffe-branco.svg" id="coffe-aura">
    <img src="imagens/error-branco.svg" id="error-aura">
    <img src="imagens/dino-branco.svg" id="dino-aura">
    <img src="imagens/code-branco.svg" id="code-aura">
  </div>


  <div id="ideia-codigo">
    <div id="texto-codigo">
      <h1>Da ideia ao código, do código ao resultado.</h1>
      <p>É a Inovação universitária aplicada ao mercado, transformando conhecimento em soluções práticas para o seu negócio.</p>
    </div>


<pre class="code-box"><span class="magenta">class</span> <span class="rosa">Main</span>:
    <span class="magenta">def</span> <span class="roxo">__init__</span>(<span class="roxo">self</span>):
        <span class="roxo">self</span><span class="magenta">.</span>tecnologia <span class="magenta">=</span> <span class="verde">"moderna"</span>
        <span class="roxo">self</span><span class="magenta">.</span>qualidade <span class="magenta">=</span> <span class="verde">"alta"</span>
        <span id="marcado"><span class="roxo">self</span><span class="magenta">.</span>criatividade <span class="magenta">=</span> <span class="rosa">True</span></span></pre>

    <div id="flash-blur">
      <div id="lay1"></div>
      <div id="lay2"></div>
      <div id="lay3"></div>
    </div>
    <img src="imagens/Cone%20-%20Transparent.svg" id="cone">
    <img src="imagens/Cube%20-%20Transparent.svg" id="cube#1">
    <img src="imagens/Cube%20-%20Transparent.svg" id="cube#2">
    <img src="imagens/Prisma%20-%20Transparent.svg" id="prisma">
    <img src="imagens/piramide%20-%20Transparent.svg" id="piramide">
  </div>

<img src="imagens/fundo_Galaxia.png" id="fundo-hero#2">

  <div id="main-info" style>
    <div id="apresentacao">
      <h1>Conheça a Main!</h1>
      <p> A mais nova empresa júnior maringaense, criando soluções digitais com inovação e eficiência!</p>
    </div>
    <div id="topicos">
      <div id="qm-somos">
        <div class="descricao">
          <h1>Quem nós somos?</h1>
          <h3>Somos a Main!</h3>
          <p>Empresa Júnior de Ciência da Computação e Engenharia de Software da Universidade Estadual de Maringá. Unimos o aprendizado acadêmico e tecnologia para transformar ideias em soluções reais.</p>
        </div>
        <div class="ponto-aura">
        </div>
        <div class="space-responsive">
          <div class="icon-aura">
            <img src="imagens/mini-main-aura.svg">
          </div>
        </div>
      </div>
      <div id="oq-fazemos">
        <div class="descricao">
          <h1>O que nós fazemos?</h1>
          <h3>Soluções com Propósito</h3>
          <p>Criamos sites, sistemas e produtos digitais personalizados, focados em usabilidade, eficiência e resultados. Cada solução é pensada na necessidades para entregar resultados consistentes.</p>
        </div>
        <div class="ponto-aura">
        </div>
        <div class="space-responsive">
          <div class="icon-aura">
              <img src="imagens/terminal-aura.svg">
          </div>
        </div>
      </div>
      <div  id="pq-escolher">
        <div class="descricao">
          <h1>Por que nos escolher?</h1>
          <h3>Compromisso com Resultados</h3>
          <p>Acreditamos que pessoas fazem a diferença e que, por isso, toda relação merece atenção, cuidado e presença. Boas soluções nascem de diálogo aberto, respeito genuíno e colaboração verdadeira.</p>
        </div>
        <div class="ponto-aura">
        </div>
        <div class="space-responsive">
          <div class="icon-aura">
              <img src="imagens/star-aura.svg">
          </div>
        </div>
      </div>
      <img src="imagens/Cube%20-%20Transparent.svg" id="cube#3">
      <img src="imagens/Cone%20-%20Transparent.svg" id="cone#2">
      <div id="blur-background2"></div>
    </div>
  </div>

  <div>
  </div>

</div>
{% endblock content %}

{% block scripts %}
<script src="/js/_home.js" defer></script>
{% endblock %}