
<div class="footer-grid">
    <div class="footer-logo">
        <img src="/imagens/logo_main_branco.svg" alt="Main Empresa Júnior" class="logo">
    </div>

    <div class="footer-col">
        <h4>Meet Main</h4>
        <a href="/"">Home</a>
        <a href="/sobre_nos/">Sobre nós</a>
        <a href="/social/">Social</a>
        <a href="/contato/">Contato</a>
        <a href="/ps_main/">P.S main</a>
    </div>

    <div class="footer-col">
        <h4>Endereço</h4>
        <div class="footer-contact-row">
            <i class="fa-solid fa-location-dot"></i>
            <span>Av. Colombo, 5790 - UEM, Bloco C56,<br>Sala 111 - Vila Esperança, Maringá - PR,<br>87020-900</span>
        </div>
    </div>

    <div class="footer-col">
        <h4>Contato</h4>
        <div class="footer-contact-row">
            <i class="fa-solid fa-phone"></i>
            <span>(44) 99174-6172</span>
        </div>
        <div class="footer-contact-row">
            <i class="fa-solid fa-envelope"></i>
            <span><a href="mailto:mainjr@uem.br">mainjr@uem.br</a></span>
        </div>
    </div>

    <div class="footer-col">
        <h4>Siga-nos</h4>
        <div class="footer-social-row">
            <a href="https://www.instagram.com/main.ej.uem/" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/main-ej/" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    
</div>