<div class="blur-layer"></div>
<div class="logo">
    <img src="imagens/logo_main.svg" alt="Logo Main">
</div>
<ul class="nav-bar">
    <li><a href="{{ get_url(path='@/social/_index.md') }}">Social</a></li>
    <li><a href="{{ get_url(path='@/sobre_nos/sobre_nos.md') }}">Sobre Nós</a></li>
    <li><a href="{{ get_url(path='@/parceiros/_index.md') }}">Case & Parceiros</a></li>
    <li><a href="{{ get_url(path='@/social/_index.md') }}">Social</a></li>
    <li><a href="{{ get_url(path='@/contato/contato.md') }}">Contato</a></li>
    <li><a href="{{ get_url(path='@/ps_main/ps_main.md') }}">P.S. Main</a></li>
</ul>
