<div class="blur-layer"></div>
<div class="logo">
    <a href="../index.html"><img src="{{ get_url(path='imagens/logo_main_branco.svg') }}" alt="Logo Main Empresa Júnior"></a>
</div>
<ul class="nav-bar">
    <li><a href="{{ get_url(path='@/sobre_nos/sobre_nos.md') }}">Sobre Nós</a></li>
    <li><a href="../parceiros.html">Case & Parceiros</a></li>
    <li><a href="../social.html">Social</a></li>
    <li><a href="../contato.html">Contato</a></li>
    <li><a href="../ps_main.html">P.S. Main</a></li>
</ul>
