{% extends "base.html" %}

{% block title %}Parceiros{% endblock title %}

{% block content %}
<h1 class="title">
</h1>
    <img src="{{ get_url(path='imagens/metal-neon.svg') }}" alt="estrelaFundo">
    <img src="{{ get_url(path='imagens/AnelNeon.png') }}" alt="">
    <img src="{{ get_url(path='imagens/noteRoxo.png') }}" alt="noteRoxo">
  <div id="blur-aura"></div>  
  <div id="blur-aura-rosa"></div> 
  <div id="cuboNeon"><img src="{{ get_url(path='imagens/cube-Transparent.svg') }}" alt=""></div>
<section class="content-container">
    <div class="texto">
        {{ page.content | safe }}
    </div>
</section>
{% endblock content %}
