{% extends "base.html" %}

{% block title %}P.S.{% endblock title %}

{% block content %}
    <section class="explicacao"> 
        <div class="container-titulo-exp"> 
            <h1 class="titulo-exp"> Como fazer parte da Main? </h1>
        </div>
    
        <div class="container-texto-exp">
            <p class="texto-exp">
                Para ingressar na Main Empresa Júnior e fazer parte do quadro de membros, você deverá passar pelo nosso <span class="span">Processo Seletivo</span>! Nosso Processo Seletivo
                tem como objetivo selecionar os estudantes dos cursos de <span class="span">Ciência da Computação</span> e <span class="span">Engenharia de Software</span> interessados em crescer juntamente da nossa empresa! 

            </p>
        </div>
    </section>

    <div class="container-gigante-eba">
        <section class="processoseletivo">
            <div class="container-titulo-ps">
                <h2 class="titulo-ps">Como o Processo Seletivo <br> funciona?</h2>
            </div>

            <div class="container-texto-ps"> 
                <p class="texto-ps">
                Após o candidato fazer sua inscrição através do  formulário de inscrição, analisaremos sua elegibilidade para participar da seleção, onde caso aprovado, um de nossos membros irá entrar em 
                contanto com o candidato e o acompanhará durante sua jornada no PS.
                <br>
                O processo seletivo é comporto por três etapas, sendo elas: 
                <br><br>
                • <span class="span">Dinâmicas em Grupo</span>, onde será avaliado o potencial de trabalho em equipe do candidato;
                <br>
                • <span class="span">Entrevistas individuais</span>, um momento que iremos conhecer e entender as motivações do candidato para participar da Main;
                <br>
                • <span class="span">Período Trainee</span>, que combina capacitações técnicas com desenvolvimento prático, essa é a última etapa!
                <br><br>

                Assim, caso o candidato seja aprovado, ele estará oficialmente participando da Main Empresa Júnior. 
                <br>
                <br>
                <span class="span">Ainda ficou com dúvida?</span> Dê uma olhadinha no FAQ ao lado ou acesse nosso edital do Processo seletivo!
                <br>
                <br>
                Data do próximo processo seletivo: Ainda será disponibilizado!<br>
                Link para o formulário: Ainda será disponibilizado! <br>
                Link para o edital:  Ainda será disponibilizado!
                </p>
            </div>
        </section>

        <section class="faq">
            <div class="container-tit-faq"> 
                <h2 class="titulo-faq">
                    FAQ
                </h2>
            </div>


            <div class="container-texto-faq"> 
                <p class="texto-faq">
                • <strong><span class="span">Estudantes do Primeiro ano</span> podem participar, apesar da possível falta de experiência?</strong>
                <br>
                R: <span class="span">Podem!</span> Na Main calouros são muito mais     do que bem-vindos! Aqui, alunos
                do primeiro ano passam por capacitações e recebem todo o apoio dos integrantes mais
                experientes, capacitando o calouro o mais rápido possível!
                <br>
                <br>
                • <strong>Por onde fico sabendo das datas dos próximos PS?</strong>
                <br>
                R: Por aqui ou pelas redes sociais da Main, <span class="span">mantenha-se</span> atento para não perder essa 
                oportunidade! 
                <br>
                <br>

                • <strong>Caso eu não seja aprovado nesse ano, posso tentar novamente depois?</strong>
                <br>
                R: <span class="span">Claro</span>, não há quantidade máxima de vezes que alguém pode participar dos Processos
                Seletivos. 
                </p>

            </div>

        </section>
            
        
        <div class="buraco-negro">
            <img class="bn" src="{{ get_url(path='imagens/buraco.svg') }}" alt="">
        </div>
        <div class="fundo-magenta"></div>
        <div class="Cone">
            <img src="{{ get_url(path='imagens/cone-Transparent.svg') }}" alt="">
        </div>
    </div>
{% endblock content %}