{% extends "base.html" %}

{% block title %}Social{% endblock title %}

{% block content %}
  <div id="estrelaFundo"><img src="{{ get_url(path='imagens/metal-neon.svg') }}" alt="estrelaFundo"></div>
  <div id="AnelNeon"><img src="{{ get_url(path='imagens/AnelNeon.png') }}" alt=""></div>
  <div id="noteRoxo"><img src="{{ get_url(path='imagens/noteRoxo.png') }}" alt="noteRoxo"></div>
  <div id="blur-aura"></div>  
  <div id="blur-aura-rosa"></div> 
  <div id="cuboNeon"><img src="{{ get_url(path='imagens/cube-Transparent.svg') }}" alt=""></div>
<section class="content-container">
    <div class="texto">
        {{ page.content | safe }}
    </div>
</section>
{% endblock content %}