/* Error: 0.3 and 1vw are incompatible.
 *     ,
 * 350 |     transform: scale(clamp(0.3,1vw,1.0));
 *     |                            ^^^ 0.3
 *     |                                === 1vw
 *     '
 *   paginas\_home.scss 350:28  @use
 *   main.scss 3:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 0.3 and 1vw are incompatible.\a     \2577 \a 350 \2502      transform: scale(clamp(0.3,1vw,1.0));\d\a     \2502                             ^^^ 0.3\a     \2502                                 \2501 \2501 \2501  1vw\a     \2575 \a   paginas\\_home.scss 350:28  @use\a   main.scss 3:1              root stylesheet";
}
